{% extends 'base.html' %}
{% block title %} Password Reset(1) {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h3>Reset Password</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-info" type="submit" value="Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}