{% extends 'base.html' %}
{% block title %} Password Reset(4) {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Password Reset Complete!</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Now you can login with your new password</h4>
                    </div>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}