{% extends 'base.html' %}
{% block title %} Password Reset(2) {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Password Resent Done!</h3>
                    <hr>
                    <div class="alert alert-info">
                        <h4>A mail has been sent to the email address you provided. It has instructions you need to follow to reset your password.</h4>
                    </div>
                    <!-- <a href="{% url 'login' %}">Login</a> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}