{% extends 'base.html' %}
{% block title %} Register Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Registere Here</h3>
                    <hr>
                    <form  method="POST">
                        {% csrf_token %}
                        {{form |crispy}}
                        <button class="btn btn-outline-info" type="submit"> Register</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}